.wrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #a9a9a9;
  background-color: rgba(250, 250, 250, .9);
}

.listView {
  flex: 1;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  height: 100%;
  overflow-y: auto;
  cursor: default;
}

.listView > li {
  height: 44px;
  line-height: 44px;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listView > li.active {
  padding-left: 11px;
  border-left: 4px solid #030303;
}

.searchBar {

}
