.wrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #a9a9a9;
  background-color: #faf9f9;
}

.listView {
  flex: 1;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  height: 100%;
  overflow-y: auto;
  cursor: default;
}

.listView > li {
  height: 44px;
  line-height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
}

.listView > li.active {
  padding-left: 5px;
  border-left: 5px solid #b2432b;
}

.searchBar {

}
