.wrapper {
  display: flex;
  align-items: center;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #443e3d;
}

.toolBarBtn {
  min-width: 24px;
  height: 24px;
  border: 0;
  padding: 3px 0 0;
  margin-right: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  color: #fff;
}

.toggleLibraryBtn {
  composes: toolBarBtn;
  margin-right: 246px;
  background-image: url('../../imgs/show_or_hide_library.png');
}

.toggleToolBarBtn {
  composes: toolBarBtn;
  position: absolute;
  right: 49px;
  background-image: url('../../imgs/show_or_hide_toolbar.png');
}

.togglePreviewBtn {
  composes: toolBarBtn;
  position: absolute;
  right: 0;
  background-image: url('../../imgs/show_or_hide_preview.png');
}
