.container {
  display: flex;
  align-items: center;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #a9a9a9;
  background-color: rgba(250, 250, 250, .9);
}

.toolBarBtn {
  min-width: 24px;
  height: 24px;
  border: 0;
  padding: 3px 0 0;
  margin-right: 15px;
  background: transparent;
  outline: none;
}

.showOrHideLibraryBtn {
  composes: toolBarBtn;
  margin-right: 246px;
  background: no-repeat center url('../../imgs/show_or_hide_library.png');
}

.showOrHideToolBarBtn {
  composes: toolBarBtn;
  position: absolute;
  right: 49px;
  background: no-repeat center url('../../imgs/show_or_hide_toolbar.png');
}

.showOrHidePreviewBtn {
  composes: toolBarBtn;
  position: absolute;
  right: 0;
  background: no-repeat center url('../../imgs/show_or_hide_preview.png');
}
